:root {
    --darker: #181A1C;
    --lighter: #31313D;
    --white: white;
}
#events-container {
    background: var(--lighter);
    height: auto;
    padding: 0 7vw;
    display: flex;
    flex-direction: column;
}
#upcoming {
    background: var(--lighter);
    padding: 10px;
    color: var(--white);
}