:root{
    --darker: #181A1C;
    --white: white;
}
.event-block {
    background: var(--darker);
    height: auto;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid black;
    color: var(--white);
}
.event-block:hover {
    background: var(--white);
    color: black;
    cursor: pointer;
}
#block-container {
    height: 100%;
    width: 100%;
    padding: 5px 10px 5px 0;
    display: flex;
    flex-wrap: nowrap;
}

#date-container {
    flex: 1 1 10%;
    background: grey;
    /* width: clamp(50px, 40vw, 100px); */
    border-radius: 5px;
    margin: 0 10px 0 0;
    border: 2px solid black;
    padding: .5vw;
}
#text-container{
    flex: 1 1 90%;
    font-size: clamp(10px, 1.9vw, 20px);
}
#event-name {
    font-weight: bold;
    text-align: left;
}
#venue {
    text-align: left;
}
#event-date {
    font-size: small;
}
/* @media (max-width: 1100px) {
    #date-container {
        flex: 1 1 15%
    }
    #text-container{
        flex: 1 1 75%;
    }

} */
@media (max-width: 850px) {
    #date-container {
        flex: 1 1 12%
    }
    #text-container{
        flex: 1 1 78%;
    }
}
@media (max-width: 600px) {
    #date-container {
        flex: 1 1 15%
    }
    #text-container{
        flex: 1 1 75%;
    }
}
@media (max-width: 450px) {
    #date-container {
        flex: 1 1 25%
    }
    #text-container{
        flex: 1 1 75%;
    }
}