:root {
    --darker: #181A1C;
    --lighter: #31313D;
    --dgrey: #4F5454;
    --white: white;
}
#month-container{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}
.month-button{
    height: auto;
    width: auto;
    color: var(--white);
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
}
.month-button:hover {
    background: var(--darker) !important;
    color: var(--white);
    cursor: pointer;
}
@media (max-width: 1100px) {
    #month-container{
        display: block;
    }
}